<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" href="http://localhost/Symfony/web/images/logo_2.ico">
        <title>{% block title %} GeoStrategika {% endblock %}</title>
        <style>
            html{
            overflow-x: hidden
            }
            body{
              background-color: rgb(250,255,250);
              color: black;
              background-image: url(http://localhost/Symfony/web/images/fond.png);
            }
            hr.style7 {
            border-top: 1px solid #8c8b8b;
            border-bottom: 1px solid #fff;
            border-color: #123455;
            }
        </style>
        {% block stylesheets %}
          {# On charge le CSS de bootstrap depuis le site directement #}
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <div style="position:absolute; left: 260px; top:5px; width:; height:; border:; background-color:;">
           <p align="left"> <i> <font size="6pt" color="white" face="Times New Roman"> GeoStrategika </font> </i> </p>
            <div style="position:relative; left: 15px; top:-15px; width:; height:; border:; background-color:;">
              <p align="left"> <i><font color="white" face="Times New Roman"> Humble blog sur les questions strategiques </font></i> </p>
            </div>
        </div>

        <div style="height: 150px">
          <img src="http://localhost/Symfony/web/images/Bandeau_2.jpg" alt="Bandeau" style="width: 100%;max-height: 100%" />
        </div>
        Time : {{ 'now'|date('d/m/y') }}
        <div class="">
          <u><a href="{{ path('hv_blog_homepage') }}">Accueil</a></u>  {% if is_granted('ROLE_AUTEUR') %}<u><a href="{{ path('hv_blog_add') }}">Ajouter un billet</a></u>{% endif %}
        </div>
        <hr class="style7" >
        {% block body %}{% endblock %}
        <hr class="style7" >
    </body>
    <footer>
      <div style="position:absolute; left:; bottom:0px; width:; height:; border:; background-color:; height: 120px">
        <img src="http://localhost/Symfony/web/images/footer_2.png" alt="footer" style="width: 100%;max-height: 100%" />
      </div>
    </footer>

</html>
